body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
}

li::marker {
  color: #d62828;
  font-size: 0.9em;
  font-weight: bold;
}

.container {
  max-width: 800px;
  margin: 50px auto 0;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.headline {
  font-size: 60px;
  font-weight: bold;
  text-transform: uppercase;
  color: #d62828;
  letter-spacing: 1px;
  margin-bottom: 10px;
  margin-top: -10px;
}

.subheadline {
  font-family: "Noto Sans KR", serif;
  font-size: 20px;
  color: #888;
}

.article {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
  margin-top: 30px;
}

.article-title {
  font-family: "Noto Sans KR", serif;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #1a3547;
}

.article-content {
  font-family: "Noto Sans KR", serif;
  font-size: 16px;
  line-height: 1.5;
}

.article-content b{
  color: #d62828;
}

.author {
  color: #888;
  margin-top: 10px;
}
